<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
<a href="#" class="navbar-brand"> Food Website</a>			 
		</div>
	<div class="items">
		<ul class="lists">
			<li><a routerLink="/recipes"  routerLinkActive="text-danger"
				[routerLinkActiveOptions]="{exact: true}">
				dish
			</a>
			</li>
			<li><a routerLink="/shopping-list" routerLinkActive="text-danger">Check Out</a></li>

		</ul>
		<ul class="dropdown-menu">
			<li><a href="#">Save Data</a> </li>
			<li><a href="#">fetch Data</a> </li>
		</ul>
</div>
		
	

	</div>
</nav>